:where(.vr-root, [data-vr-root], [data-vr-portal]),
:where(.vr-root, [data-vr-root], [data-vr-portal]) *,
:where(.vr-root, [data-vr-root], [data-vr-portal]) *::before,
:where(.vr-root, [data-vr-root], [data-vr-portal]) *::after {
  box-sizing: border-box;
}

:where(.vr-root, [data-vr-root], [data-vr-portal]) {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-synthesis: none;
  text-rendering: optimizelegibility;
}

:where(.vr-root, [data-vr-root], [data-vr-portal]) :where(h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd) {
  margin: 0;
}

:where(.vr-root, [data-vr-root], [data-vr-portal]) :where(ul, ol) {
  margin-block: 0;
  padding-inline-start: 1.25em;
}

:where(.vr-root, [data-vr-root], [data-vr-portal]) :where(button, input, textarea, select) {
  margin: 0;
  font: inherit;
  letter-spacing: inherit;
}

:where(.vr-root, [data-vr-root], [data-vr-portal]) :where(button, [type="button"], [type="reset"], [type="submit"]) {
  appearance: button;
}

:where(.vr-root, [data-vr-root], [data-vr-portal]) :where(img, picture, svg, video, canvas) {
  display: block;
  max-inline-size: 100%;
}

:where(.vr-root, [data-vr-root], [data-vr-portal]) :where(img, video) {
  block-size: auto;
}

:where(.vr-root, [data-vr-root], [data-vr-portal]) table {
  border-collapse: collapse;
  border-color: currentcolor;
  text-indent: 0;
}

:where(.vr-root, [data-vr-root], [data-vr-portal]) [hidden] {
  display: none;
}
